
    <title>DAKR - Online Course & Education HTML Template</title>

 
    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-90" style="background-image: url('../../../assets/images/bg/03.jpg');">
      <div class="container">
        <div class="row align-items-center position-relative">
          <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <h1 class="breadcrumb-title mb-0 text-white">Login</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
              <li class="breadcrumb-item"><a href="../../../index.html"><i class="fas fa-home me-1"></i>Home</a></li>
              <li class="breadcrumb-item active"><span>Login</span></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->

    <!--=================================
    Login -->
    <section class="space-ptb login">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h2>Create an account</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10 col-sm-11">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form class="row mt-4 mb-4 mb-sm-5 align-items-center form-flat-style">
                  <div class="mb-3 col-sm-12">
                    <label class="form-label">Username:</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <label class="form-label">Password:</label>
                    <input type="Password" class="form-control" placeholder="">
                  </div>
                  <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-flat">Sign in</button>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3 justify-content-sm-end">
                      <li class="me-1"><a class="text-dark" href="#">Don't have an account? Click here</a></li>
                    </ul>
                  </div>
                </form>
                <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
                  <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b></div>
                  <form class="row">
                    <div class="col-sm-6">
                      <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                <form class="row mt-4 mb-4 mb-sm-5 align-items-center form-flat-style">
                  <div class="mb-3 col-sm-12">
                    <label class="form-label">Username:</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <label class="form-label">Email Address:</label>
                    <input type="email" class="form-control" placeholder="">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <label class="form-label">Password:</label>
                    <input type="Password" class="form-control" placeholder="">
                  </div>
                  <div class="mb-3 col-sm-12">
                    <label class="form-label">Confirm Password:</label>
                    <input type="Password" class="form-control" placeholder="">
                  </div>
                  <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-flat">Sign up</button>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                      <li class="me-1"><a href="#">Already Registered User? Click here to login</a></li>
                    </ul>
                  </div>
                </form>
                <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
                  <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Login or Sign in with</b></div>
                  <form class="row">
                    <div class="col-sm-6">
                      <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
                    </div>
                    <div class="col-sm-6">
                      <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Login -->

    <!--=================================
    footer-->
    <footer class="footer footer-dark space-ptb bg-dark">
      <div class="container">
       
        <div class="row">
          <div class="col-12">
            <hr class="my-5 opacity-1">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="footer-contact-info">
              <div class="footer-logo mb-2">
                <a href="../../../index.html"><img class="img-fluid" src="../../../assets/images/Screenshot_20230107_113200-removebg-preview.png" alt=""></a>
              </div>
              <div class="contact-address">
                <div class="contact-item mb-3 mb-md-4">
                  <p>4th floor, Yashashree Space
                    Studio , beside Hyndava
                    Techno, Hitech city, near
                    Raigurgam metro <br>Hyderabad, Telangana 500060</p>
                </div>
                <div class="contact-item mb-3 mb-md-4">
                  <h4 class="mb-0 fw-normal"><a href="#" class="text-primary">+91 9581164101</a></h4>
                </div>
                <div class="contact-item">
                  <a href="#">dakr@dakrenterprises.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 col-lg-4 mb-4 mb-lg-0">
            <h5 class="footer-title text-primary">Explore</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li><a href="#">Overview</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Success story</a></li>
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
              <ul class="list-unstyled mb-0">
                <li><a href="#">Help</a></li>
                <li><a href="#">Our news</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 col-lg-2 mb-4 mb-sm-0">
            <h5 class="footer-title text-primary">Resources</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li><a href="#">Donors</a></li>
                <li><a href="#">Educators</a></li>
                <li><a href="#">Professionals</a></li>
                <li><a href="#">Become A Teacher</a></li>
                <li><a href="#">Student Profile</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <h5 class="footer-title text-primary">Subscribe us</h5>
            <p>Sign up to our newsletter to get the latest news and offers.</p>
            <form>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email*">
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom pt-5 pb-0 bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="social-icon text-md-start text-center mb-3 mb-md-0">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/dakr-solutions/mycompan"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="https://www.instagram.com/dakr_solutions"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-google"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="copyright text-md-end text-center">
                <p class="mb-0 small">© Copyright 2023 <a href="#">DAKR Solutions</a> All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    footer-->

    <!--=================================
    Back To Top -->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fas fa-chevron-up"></i></a>
    </div>
    <!--=================================
    Back To Top -->
   